<a {{action "doFavorite" content}} {{bind-attr class=":favorite-button favorited:active"}} title="favorite">
  {{#if favorited}}★{{else}}☆{{/if}}
</a> 

{{#if content.favorites}}
  <span>{{content.favorites.length}}</span>
  <a {{action "toggleList"}}>favorites</a>
{{/if}}

{{#if isShow}}
<ul>
  {{#each content.favorites}}
    <li>{{user.name}}</li>
  {{/each}}
</ul>
{{/if}}