<a {{action "favorite" content}} {{bind-attr class=":favorite-button favorited:active"}} title="favorite">
  {{#if favorited}}★{{else}}☆{{/if}}
</a> 

<a {{action "toggleList"}}>{{favorites.length}}</a>
{{#if isShow}}
<ul>
  {{#each favorites}}
    <li>{{user.name}}</li>
  {{/each}}
</ul>
{{/if}}