<a {{action "toggleFavorite" content}} {{bind-attr class="favorited:active"}} title="favorite">
  {{#if favorited}}★{{else}}☆{{/if}}
</a> 

{{#if content.favorites}}
  <span>{{pluralize-things content.favorites.length 'favorite' 'favorites'}}</span>
  
  <ul>
  {{#each content.favorites}}
    <li>{{user.name}}</li>
  {{/each}}
  </ul>
{{/if}}