<button {{action "toggleFavorite" content}} {{bind-attr class="favorited:active"}} title="favorite">
  {{#if favorited}}★{{else}}☆{{/if}}
</button> 

{{#if content.favorites}}
  <b>{{content.favorites.length}}</b>
  <button {{action "toggleList"}}>favorites</button>
{{/if}}

{{#if isShow}}
<ul>
  {{#each content.favorites}}
    <li>{{user.name}}</li>
  {{/each}}
</ul>
{{/if}}