<a {{action "togglePairings"}} class="toggle">
  {{#if isShow}}
    
  {{else}}
    
  {{/if}}
</a>

{{!#if isShow}}
  {{#each content}}
  <div class="row">
    <ul class="has-hearts">
      {{#link-to "pairings.pairing" this}}
        {{#each buddies}}
          <li>{{name}}</li>
        {{/each}}
      {{/link-to}}
    </ul>
    <ul class="checkin-marker">
    {{#each logs}}
      <li>
        <span class="buddy-name">{{user.name}}</span>
        <span class="date">{{format-date createdAt "MM.DD"}}</span>
      </li>
    {{/each}}
    </ul>
  </div>
  {{/each}}
{{!/if}}
