<a {{action "togglePairings"}} class="toggle">
  {{#if isShow}}
    close
  {{else}}
    expand
  {{/if}}
</a>

{{#if isShow}}
  {{#each content}}
  <div class="row">
    <ul class="has-hearts">
      {{#link-to "pairings.pairing" this}}
        {{#each buddies}}
          <li>{{name}}</li>
        {{/each}}
      {{/link-to}}
    </ul>
    <ul class="checkin-marker">
    {{#each logs}}
      <li>
        {{user.screenName}}
        {{format-date createdAt "MM.DD"}}
      </li>
    {{/each}}
    </ul>
  </div>
  {{/each}}
{{/if}}
