{{#if isMe}}
<section class="your-settings">
  <h3>Your Info</h3>
  <label>Name</label>
  {{input value=content.name action="updateName" on="enter" size="50"}}

  <label>Current Password</label>
  {{input type="password" value=content.currentPassword}}

  <label>New Password</label>
  {{input type="password" value=content.password}}

  <label>New Password Confirmation</label>
  {{input type="password" value=content.passwordConfirmation}}

  <button  {{action "update"}}>update</button>
</section>
{{/if}}

<section class="your-history">
<h3>Pairing and Checkin History</h3>
{{#each sortedPairings}}
  <div class="row">
    <h2>{{format-date startDate "dddd, MMMM DD"}} - {{format-date endDate "dddd, MMMM DD"}}</h2>
    <ul class="has-hearts">
    {{#link-to "pairings.pairing" this}}
      {{#each buddies}}
        <li>{{name}}</li>
      {{/each}}
    {{/link-to}}
    </ul> 
    
    <ul class="checkin-marker">
    {{#each logs}}
      <li>
        {{user.screenName}} 
        {{format-date createdAt "MM.DD"}}
      </li>
    {{/each}}
    </ul>
  </div>
{{/each}}
</section>
