<ul>
{{#each sortedPairings}}
  <li>
    <span>{{format-date startDate "MMM DD"}} - {{format-date endDate "MMM DD"}}</span>
    {{#link-to "pairings.pairing" this}}
      {{#each buddies}}
        {{name}} {{#if heart}}<span class="glyphicon glyphicon-heart" style="color:red;"></span>{{/if}}
      {{/each}}
    {{/link-to}}
    
    {{#each logs}}
      {{user.screenName}} 
        <small>{{format-date createdAt "MM.DD"}}</small> 
        <i class="glyphicon glyphicon-ok"></i>
    {{/each}}
  </li>
{{/each}}
</ul>
