<section class="checkins"> 
  <h3>BuddFeed</h3>
  {{#each arrangedContent}}
    <article>
      <span class="arrow"></span>
      <span class="message">{{message}}</span>
      <span class="buddy">{{user.id}} {{user.name}}</span>
      <span class="date">{{format-date createdAt "dddd, MMMM DD"}}</span>
      <div>
        <a {{action "favorite" this}} {{bind-attr class=":favorite-button favorited:active"}} title="favorite">
          {{#if this.favorited}}★{{else}}☆{{/if}}
        </a> 
        {{favorite-list content=favorites}}
      </div>
    </article>
  {{/each}}
</section>
