
<section class="checkins"> 
  <h3>Check Ins</h3>
  {{#each arrangedContent}}
    <article>
      {{id}}
      <span class="arrow"></span>
      <span class="message">{{message}}</span>
      <span class="buddy">{{user.id}} {{user.name}}</span>
      <span class="date">{{format-date createdAt "dddd, MMMM DD"}}</span>
      <span>
        {{#if favorites}}
          fav 
          {{#each favorites}}
            {{user.name}}
          {{/each}}
        {{else}}
          fav
        {{/if}}
      </span>
    </article>
  {{/each}}
</section>
