<h3>One pairing: </h3>
<ul>
	<li>ID: {{content.id}}</li>
	<li>Buddy1: {{content.primaryUser.name}}</li>
	<li>Buddy2: {{content.secondaryUser.name}}</li>
	<li>Start Date: {{content.startDate}}</li>
	<li>End Date: {{content.endDate}}</li>
<ul>

<h3>
	Logs: 
	<button {{action "checkin" content}}>check-in</button>
</h3>

<ul>
{{#each content.logs}}
	<li>{{date}}: {{message}}</li>
{{/each}}
<ul>


{{outlet}}
