{{outlet}}

<ul class="pairings">
{{#each groupedPairings}}
<li>
  <h2>{{group}}</h2>
  {{#each content}}
  <ul class="has-hearts">
    {{#link-to "pairings.pairing" this}}
      {{#each buddies}}
        <li>{{name}}</li>
      {{/each}}
    {{/link-to}}
  </ul>
  {{#each logs}}
    {{user.screenName}}
    {{format-date createdAt "MM.DD"}}
  {{/each}}
{{/each}}
</li>
{{/each}}
</ul>
