<section class="buddy-pairing">
  <ul>
    {{#each buddies}}
      <li>{{name}} {{#if heart}}<span class="glyphicon glyphicon-heart" style="color:red;"></span>{{/if}}</li>
    {{/each}}
  </ul>

  <p>
    {{format-date startDate "dddd, MMMM DD"}} - {{format-date endDate "dddd, MMMM DD"}}
  </p>
</section>

<section class="checkin">
  {{#if session.currentUser.checkedin}}
    <button disabled>
      <span class="glyphicon glyphicon-ok"></span> Checked In
    </button>
  {{else}}
    {{input value=logMessage class="form-control" placeholder="How's your buddy?"}}
    <a {{action "checkin" content}} class="btn">
      Check In Today
    </a>
  {{/if}}
</section>

<section class="checkins">
<h5>Checkins</h5>
{{#if logs}}
  <ul>
    {{#each logs}}
    <li {{bind-attr class="true::timeline-inverted"}}>
      <i {{bind-attr class=":glyphicon true:glyphicon-chevron-right:glyphicon-chevron-left"}}></i>
      <i class="glyphicon glyphicon-time"></i> {{format-date createdAt "dddd, MMMM DD YY"}}
      {{user.name}}
      {{message}}
    </li>
    {{/each}}
  </ul>
  {{else}}
    You need love.
  {{/if}}
</section>
  
{{outlet}}
