<section class="buddy-pairing">
  <ul class="has-hearts">
    {{#each buddies}}
      <li> {{name}} </li>
    {{/each}}
  </ul>

  <p>
    {{format-date startDate "dddd, MMMM DD"}} - {{format-date endDate "dddd, MMMM DD"}}
  </p>

  {{#if isEnded}}
    <span class="checkedin">Do you miss your ex-buddy?</span>
  {{else}}
    {{#if session.currentUser.checkedin}}
      <span class="checkedin">You checked in!</span>
    {{/if}}
  {{/if}}
</section>

<section class="checkin">
  {{#unless isCheckedInToday}}
    {{input value=logMessage class="form-control" placeholder="How's your buddy?"}}
    <a {{action "checkin" content}} class="btn">
      Check In Today
    </a>
  {{/unless}}
</section>

{{#if logs}}  
<h3>Check Ins This Week</h3>
  {{#each logs}}
    <article {{bind-attr class="user.isMe::timeline-inverted"}}>
      <span class="arrow"></span>
      <span class="message">{{message}}</span>
      <span class="buddy">{{user.screenName}}</span>
      <span class="date">{{format-date createdAt "dddd, MMMM DD"}}</span>
    </article>
    {{/each}}
  {{else}}
    <span class="need-love"><a href="http://www.youtube.com/watch?v=pM8_HuQ0b34">you need love</a></span>
  {{/if}}
</section>

{{outlet}}
