<h1>
  {{#each buddies}}
    {{name}} {{#if heart}}<span class="glyphicon glyphicon-heart" style="color:red;"></span>{{/if}}
  {{/each}}
</h1>

<h3>
  {{format-date startDate "ddd MMM DD"}} - {{format-date endDate "ddd MMM DD"}}
</h3>

<h3>
  {{#if currentUserService.user.checkedin}}
    <button disabled>
      <span class="glyphicon glyphicon-ok"></span> Checked In
    </button>
    {{else}}
      {{input value=logMessage class="form-control" placeholder="How's your buddy?"}}
      <button {{action "checkin" content}}>
        <i class="glyphicon glyphicon-ok"></i> Check In Today
      </button>
  {{/if}}
</h3>

<h5>Checkins</h5>
{{#if logs}}
  <ul>
    {{#each logs}}
    <li {{bind-attr class="user.isMe::timeline-inverted"}}>
      <i {{bind-attr class=":glyphicon user.isMe:glyphicon-chevron-right:glyphicon-chevron-left"}}></i>
      <i class="glyphicon glyphicon-time"></i> {{format-date createdAt "MMM DD, YYYY"}}
      {{user.screenName}}
      {{message}}
    </li>
    {{/each}}
  </ul>
  {{else}}
    You need love.
  {{/if}}

  {{outlet}}

