<section class="buddy-pairing">
  <ul class="has-hearts">
    {{#each buddies}}
      <li> {{name}} </li>
    {{/each}}
  </ul>

  <p>
    {{format-date startDate "dddd, MMMM DD"}} - {{format-date endDate "dddd, MMMM DD"}}
  </p>
</section>

<section class="checkin">
  {{#if currentUserService.user.checkedin}}
      Checked in!
      <span class="glyphicon glyphicon-ok"></span> 
  {{else}}
    {{input value=logMessage class="form-control" placeholder="How's your buddy?"}}
    <a {{action "checkin" content}} class="btn">
      Check In Today
    </a>
  {{/if}}
</section>

<section class="checkins">
<h3>Checkins</h3>
{{#if logs}}
  {{#each logs}}
    <article {{bind-attr class="user.isMe::timeline-inverted"}}>
      <span class="arrow"></span>
      <span class="message">{{message}}</span>
      <span class="buddy">{{user.screenName}}</span>
      <span class="date">{{format-date createdAt "dddd, MMMM DD"}}</span>
    </article>
    {{/each}}
  {{else}}
    You need love.
  {{/if}}
</section>
  
{{outlet}}
