<div class="text-center">
  <h1>
    {{#each buddies}}
      {{name}} {{#if heart}}<span class="glyphicon glyphicon-heart" style="color:red;"></span>{{/if}}
    {{/each}}
  </h1>

  <h3>
    {{format-date startDate "ddd MMM DD"}} - {{format-date endDate "ddd MMM DD"}}
  </h3>

  <h3>
    {{#if isCheckedIn}}
      <button class="btn btn-block btn-lg" disabled>
        <span class="glyphicon glyphicon-ok"></span> Checked In
      </button>
    {{else}}
      <button class="btn btn-primary btn-block btn-lg" {{action "checkin" content}}>
        <span class="glyphicon glyphicon-ok"></span> Check In Today
      </button>
    {{/if}}
  </h3>

  <h5>{{!format-date today "ddd MMM DD YYYY"}}</h5>
  <br />

  <div>
    <div class="page-header">
      <h5 id="timeline">Checkins</h5>
    </div>
    {{#if logs}}
      <ul class="timeline">
      {{#each logs}}
        <li {{bind-attr class="user.isMe::timeline-inverted"}}>
          <div class="timeline-badge warning"><i {{bind-attr class=":glyphicon user.isMe:glyphicon-chevron-right:glyphicon-chevron-left"}}></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title">
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> {{format-date createdAt "MMM DD, YYYY"}}
                </small>
                {{user.screenName}}
              </h5>
            </div>
            <div class="timeline-body">
              <p>{{message}}</p>
            </div>
          </div>
        </li>
      {{/each}}
      </ul>
    {{else}}
      You need love.
    {{/if}}
  </div>

  {{outlet}}
</div>


<style>
.text-muted {
  margin-right: 3px;
}
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 15px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%; 
  margin-left: -20px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.default {
  background-color: #eeeeee !important;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}
</style>
