<h3>
  {{#each buddies}}
    {{name}} {{#if heart}}<span class="glyphicon glyphicon-heart">{{/if}}</span>
  {{/each}}
</h3>

<hr />

<div class="row">
  <div class="col-xs-9">
    <p>{{format-date startDate "MMM DD, YYYY"}} - {{format-date endDate "MMM DD, YYYY"}}</p>
  </div>
  <div class="col-xs-3">
    <button class="btn btn-primary btn-block btn-lg" {{action "checkin" content}}><span class="glyphicon glyphicon-ok"></span> Check In Today</button>
  </div>
</div>
<h4>

<h4>
	
</h4>

<h4>Checked-ins: </h4>
<ul>
{{#each logs}}
	<li>{{format-date createdAt "MMM DD, YYYY"}} {{message}} by {{user.name}}</li>
{{/each}}
</ul>

{{outlet}}
