<div class="text-center">
  <h1>
    {{#each buddies}}
      {{name}} {{#if heart}}<span class="glyphicon glyphicon-heart" style="color:red;"></span>{{/if}}
    {{/each}}
  </h1>

  <h3>
    {{format-date startDate "ddd MMM DD"}} - {{format-date endDate "ddd MMM DD"}}
  </h3>

  <h3>
    {{#if currentUserService.user.checkedin}}
      <button class="btn btn-block btn-lg" disabled>
        <span class="glyphicon glyphicon-ok"></span> Checked In
      </button>
    {{else}}
      <div class="input-group">
        {{input value=logMessage class="form-control" placeholder="How's your buddy?"}}
        <span class="input-group-btn">
          <button class="btn btn-primary" {{action "checkin" content}}>
            <i class="glyphicon glyphicon-ok"></i> Check In Today
          </button>
        </span>
      </div>
    {{/if}}
  </h3>

  <h5>{{!format-date today "ddd MMM DD YYYY"}}</h5>
  <br />

  <div>
    <div class="page-header">
      <h5 id="timeline">Checkins</h5>
    </div>
    {{#if logs}}
      <ul class="timeline">
      {{#each logs}}
        <li {{bind-attr class="user.isMe::timeline-inverted"}}>
          <div class="timeline-badge warning"><i {{bind-attr class=":glyphicon user.isMe:glyphicon-chevron-right:glyphicon-chevron-left"}}></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title">
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> {{format-date createdAt "MMM DD, YYYY"}}
                </small>
                {{user.screenName}}
              </h5>
            </div>
            <div class="timeline-body">
              <p>{{message}}</p>
            </div>
          </div>
        </li>
      {{/each}}
      </ul>
    {{else}}
      You need love.
    {{/if}}
  </div>

  {{outlet}}
</div>

