<h1>
  {{#each buddies}}
    {{name}} {{#if heart}}<span class="glyphicon glyphicon-heart" style="color:red;"></span>{{/if}}
  {{/each}}
</h1>

<h3>
  {{format-date startDate "ddd MMM DD"}} - {{format-date endDate "ddd MMM DD"}}
</h3>

<h3>
  {{#if isCheckedIn}}
    <button class="btn btn-block btn-lg" disabled>
      <span class="glyphicon glyphicon-ok"></span> Checked In
    </button>
  {{else}}
    <button class="btn btn-primary btn-block btn-lg" {{action "checkin" content}}>
      <span class="glyphicon glyphicon-ok"></span> Check In Today
    </button>
  {{/if}}
</h3>

<ul class="list-group">
{{#each logs}}
	<li class="list-group-item">
    {{format-date createdAt "MMM DD, YYYY"}} {{message}} by {{user.name}}
  </li>
{{/each}}
</ul>

{{outlet}}
